@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/*
  Basic styling
*/

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-content: center;
    background-color: #f2e9e4;
}

.container {
    min-height: 30rem;
    display: grid;
    place-content: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.5rem solid #fff;
    box-shadow: 0.3px 0.5px 0.6px hsl(22deg 12% 58% / 0.5),
        0.7px 1.3px 1.5px -1.1px hsl(22deg 12% 58% / 0.43),
        1.9px 3.8px 4.2px -2.3px hsl(22deg 12% 58% / 0.36),
        5px 10px 11px -3.4px hsl(22deg 12% 58% / 0.29);
}

.quote-box {
    background: hsl(0, 0%, 100%, .8);
    padding: 1.75rem;
    max-width: 30rem;
    overflow-y: scroll;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.quote-box:hover {
    background: hsl(232, 17%, 35%, .8);
    color: #fff;
}

.quote-author {
    font-weight: 600;
    font-size: 0.9em;
    text-align: right;
    padding-top: 1em;
}

.quote-author::before {
    content: '- ';
}

::-webkit-scrollbar {
    display: none;
}

/*
  Responsive layout
*/

@media screen and (min-width: 45rem) {
    .container {
        min-width: 45rem;
        min-height: 30rem;
    }

    .quote-box {
        font-size: 1.25rem;
    }
}